.panels {
    height: 100vh;
    display: flex;
}

.leftpanel,
.rightpanel {
    flex-grow: 0;
    flex-shrink: 0;
}

/****** Left Panel ******/

.leftpanel {
    height: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    flex-basis: 70px;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.leftpanel img {
    display: block;
    width: 50%;
    margin: 0 auto;
}

a {
    display: block;
}

.leftpanel-links,
.controls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.leftpanel-links {
    margin-bottom: auto;
}

.controls {
    margin-top: auto;
}

/****** Upper Panel ******/

.upperpanel {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em; 
}

.upperpanel-links {
    display: flex;
    gap: 1.5em;
    margin-right: auto;
    font-size: 1.5em;
}

.upperpanel .selected {
    color: var(--color-primary);
}

/****** Right Panel ******/
.rightpanel {
    height: 100%;
    flex-basis: 400px;
    padding: 0 2em;
}

.user,
.statistics {
    border-bottom: 2px solid var(--color-lightgrey);
}

.user {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    font-size: 2em;
}

.rightpanel img {
    width: 50px;
}

.statistics {
    height: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
}

.statistics > div {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.statistics > div::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 50%;
    margin-right: 10px;
}

.completed_projects::before {
    background-color: rgb(22, 131, 204);
}
.completed_tasks::before {
    background-color: rgb(107, 28, 218);
}
.ongoing_tasks::before {
    background-color: rgb(236, 255, 69);
}
.overdue_tasks::before {
    background-color: rgb(252, 71, 54);
}

.content p:nth-of-type(1)  {
    font-size: 0.8em;
    color: var(--color-darkgrey);
}
.content p:nth-of-type(2)  {
    font-size: 2em;
}

.notes {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.notes-header {
    width: 100%;
    display: flex;
    font-size: 1.5em;
    margin-bottom: 1em;
    gap: .3em;
}

.notes-header p {
    margin-right: auto;
}

.notes-header-icons {
    position: relative;
    font-size: 1em;
    background: none;
    line-height: .5;
    padding: .3em;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: var(--transition);
}

.notes-header-icons:hover {
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

.notes-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

.note-content {
    height: 100%;
    width: 100%;
    border: 2px solid var(--color-primary);
    resize: none;
    border-radius: 1em;
    background-attachment: local;
    background-image:
        linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
    line-height: 31px;
    padding: 8px 10px;
}

.note {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 0.7em;
    padding: .8em;
}

.note-icon-btn {
    font-size: 1.3em;
    line-height: 50%;
    background: none;
    color: var(--color-darkgrey);
    cursor: pointer;
}

.note-icon-btn:hover {
    color: var(--color-variant);
}

.note-icon {
    pointer-events: none;
}

.note-title {
    margin-right: auto;
}