.tasks {
    height: 100%;
    width: 100%;
    padding: 1em 1.5em 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tasks-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}


.filter:nth-of-type(1) {
    margin-left: auto;
}

.tasks .select {
    background: transparent;
}

.table-container {
    background-color: var(--color-variant);
    height: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

thead {
    color: var(--color-darkgrey);
    font-size: 0.9em
}

table, th, td {
    position: relative;
    padding: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: start;
}

th.status,
th.priority {
    text-align: center;
}

td.task-name {
    word-wrap: break-word;
    max-width: 200px;
}

td.deadline {
    font-size: .8em;
    color: var(--color-darkgrey);
}

p.status,
p.priority {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2em 1em;
    border-radius: 1.2em;
}

p.priority {
    display: inline-block;
    text-align: center;
    padding: 0.2em 1em;
    border-radius: 1.2em;
    width: 100px;
}

td:not(.task-name) {
    white-space: nowrap;
}

tr td.mark-as-done-cell {
    width: auto;
    text-align: end;
}

button.mark-as-done {
    display: inline-block;
    text-align: center;
    padding: 0.2em 1em;
    border-radius: 1.2em;
    outline: none;
    border: none;
    background: #ffb546;
    font-size: 1em;
    transition: var(--transition);
}

button.mark-as-done:hover {
    background: var(--color-variant);
    cursor: pointer;
}

tbody tr {
    transition: var(--transition);
}

tbody tr:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}


/***** Colors ******/

p.Active {
    background: #25EB25 ;
}

p.Waiting {
    background: #f3ee57;
}

p.Done {
    background: #adb1ad;
}

p.Low {
    background: rgb(255, 174, 174);
}

p.Medium {
    background: rgb(255, 90, 90);
}

p.High {
    background: red;
}

td.red {
    color: red;
}