.add-project .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* shadow effect */
    z-index: 3;
}

.add-project form {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.add-project h2 {
    color: var(--color-primary);
    text-align: center;
    margin: 1em;
}

.add-project input {
    border: 1px solid transparent;
    padding: 1em 1em;
    border-bottom: 1px solid var(--color-darkgrey) ;
}

.add-project textarea {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid var(--color-darkgrey);
    border-radius: 4px;
    resize: none;
}

.add-project .error {
    color: red;
    text-align: center;
    font-size: .8em;
}

.add-project input:focus {
    outline: none;
}

.add-project input:focus, 
.add-project textarea:focus {
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary);
  }

.modal-buttons {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

.add-project button {
    width: 10em;
}

